body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("../images/sample-login-bg.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sign-in {
    background-color: white;
    margin:0 auto;
    width: 450px;
}

@media only screen and (max-width: 479px){
    #sign-in { width: 90%; }
}
nav{
  opacity: 0.95;
}
