# Created by .ignore support plugin (hsz.mobi)


/IS5108-DigData.iml
/.idea/
/.buildpath
/.project
/.settings/
Figures/edit.png
Figures/edit_detail.png
process.xml
Figures/edit_photo.png
Figures/delete.png
Figures/delete_index.PNG
Figures/delete_confirm.PNG
